/*flexbox*/
* {
  box-sizing: border-box;
 }
/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px)   {
    header h1 a {
        /*this will be applied on any screen smaller than 980px */
        color:aqua;
    }

    }   
     /* MEDIA QUERY FOR TABLETS AND SMALLER */
    @media screen and (max-width: 768px) {
     header h1 {
      /* this will be applied on any screen between 768px and 575px */
      padding: 30px 15px;
      font-size: 80px;
        }
    }
  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header h1 {
      /* this will be applied on any screen smaller than 575px */
      font-size: 100px;
    }
  }   

    


/*set background color*/
header {
   shape-image-threshold: initial;
    background-color:rgb(190, 201, 128); 
    margin: 10px;
    padding: 30px;
    height: 50px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow:column wrap;
    align-items:img= center;
    justify-content: flex-start;
    align-content:space-between;
 }

header h1 {
  font-size:60px;
}
 
.nav {
display:inline-block;  
background-color: rgb(163, 163, 91);
margin: 5px;
width: 120px;
font-size: 40px; 
font-style:inherit;
padding:0ch;
border: 3px;
flex-flow:row-wrap; 
}

#work {
 
  min-height: 500px; 
  
}

  #About {
    
    margin: 5px auto;
    /* width:200px; */
    /* flex: 0 1 auto; */
 }
 #projects {
    
    margin: 5px;
    width: 200px;
    flex: 0 1 auto; 
 }
 
#contact  {
 -moz-text-decoration-line: none;
 text-align: start;
 text-decoration-line:none;
 margin: 5px;
 width: 200px;
 flex: 0 1 auto;
}
    
 /* Footer */

 footer {
  position: fixed;
  text-align: center;
  bottom:0;
  left:0;
  width:100%;
  height: 30px;
  /* background-color: #D0DAEE; */
  background-color: brown;
}
  